{% extends "farm/base.html" %}

{% block title %}Admin Login{% endblock title %}

{% block content %}
<main class="main-structure">
  <div class="light-form border">
    <h2 class="align-center">Please Log In</h2>
    <p class="align-center">You must be logged in to access the admin menu.</p>

    <form method="post">
    <table class="align-table">
        {{ form.as_table }}
        {% if form.errors %}
           {% for field in form %}
               {% for error in field.errors %}
                  <div class="form-error">
                       <strong>{{ error|escape }}</strong>
                  </div>
               {% endfor %}
           {% endfor %}
         {% endif %}
        <tr>
            <td colspan="2" align="center">
              <input type="submit" value="Log In" class="med-button">
            </td>
        </tr>
    </table>
      <p class="align-center"><a href="{% url 'accounts:password-reset' %}"
        class="">Forgot Username or Password?</a></p>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    </form>
  </div>
</main>
{% endblock content %}
