{% extends "farm/base.html" %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<main class="main-structure">
  <div class="light-form border">
    <h2 class="align-center">Password Reset Sent</h2>
      <p class="align-center">We’ve emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them shortly.</p>

      <p class="align-center">If you don’t receive an email, please make sure you’ve entered the address
        you registered with, and check your spam folder.</p>
  </div>
</main>
{% endblock %}
