{% extends "farm/base.html" %}

{% block title %}Enter New Password{% endblock %}

{% block content %}

{% if validlink %}
<main class="main-structure">
  <div class="light-form border">
    <h2 class="align-center">Enter New Password</h2>

    <p class="align-center">Please enter your new password twice so we can verify you typed it
      in correctly.</p>

    <form method="POST">
      {% csrf_token %}
      <table class="align-table">
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}

        {{ form.non_form_errors }}

        {% for field in form %}
        <tr>
          <th colspan="2">{{ field.errors }}</th>
        </tr>
        <tr>
          <th class="align-right">{{ field.label_tag}}</th>
          <td class="">{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2" class="align-center">
            <input type="submit" value="Change My Password" class="med-button">
          </td>
        </tr>
    </table>
    </form>
  </div>
</main>

{% else %}
<main class="main-structure">
  <div class="light-form border">
  <h2 class="align-center">Password Reset Unsuccessful</h2>

  <p class="align-center">The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.</p>
  </div>
</main>

{% endif %}

{% endblock %}
